<div class="content" ng-submit="sendMessage()">
  <form name="contactForm" novalidate>
    <input type="text" placeholder="name" name="name" ng-required="true" ng-model="contact.name"/>
    <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
    </div>
    <input type="email" placeholder="Email" name="email" ng-required="true" ng-model="contact.email"/>
    <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid email</small>
    </div>
    <textarea placeholder="Your Message" name="message" ng-required="true" ng-model="contact.message"></textarea>
    <div ng-show="contactForm.message.$touched && contactForm.message.$invalid">
      <small style="color: red; display: block; text-align: center;">Enter a valid message</small>
    </div>
    <input type="submit" value="Send" ng-disabled="contactForm.$invalid" />
  </form>
</div>